.breadcrumbs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  width: max-content;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.breadcrumbs__item {
  margin-right: 5px;
}

.breadcrumbs__link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color:#ffffff;
  border-radius: 4px;
  padding: 3px 8px;
}

.breadcrumbs__link:hover {
color:rgba(255, 255, 255, 0.6);
}

.breadcrumbs__link:active{
color:rgba(255, 255, 255, 0.6);
}

.breadcrumbs__link:focus{
outline: 2px solid rgba(131, 179, 211, 1);
}
