.footer {
    display: grid;
    grid-template-columns: 107px 1fr auto 1fr auto;
    align-items: center;
    align-items: center;
    width: 100%;
    padding: 0 72px;
}

.footer-link {
    position: relative;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #000000;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
}

.social-list {
  display: grid;
  grid-column: 1/2;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 120px;
  width: 107px
}

.social-list_link {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    padding: 0 4px;
    border-radius: 4px;
    fill: #83B3D3;
}

.social-list_link:hover {
  fill: #68A2CA;
}

.social-list_link:active {
  fill: #D2E3EF;
}

.social-list_link:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
}

.footer-link:hover {
    color:rgba(117, 98, 87, 1);
}

.footer-link:active {
    color: #D6D0CD;
}

.footer-link:focus {
    color: rgba(117, 98, 87, 100%);
    outline: 3px solid rgba(131, 179, 211, 1);
}

.footer-link_phone {
  grid-column: 3/4;
}

.footer-link_developer {
  grid-column: 5/6;
  left: 15px;
}

.footer-link_developer:hover {
  fill: rgba(117, 98, 87, 1);
}

.footer-link_developer:active {
  fill: rgba(117, 98, 87, 1);
}
