.headline {
    font-weight: 700;
    margin: 0;
}

.headline_size-s {
    font-size: 24px;
    line-height: 28px;
}

.headline_size-m {
    font-size: 30px;
    line-height: 36px;
}

.headline_size-b {
    font-size: 60px;
    line-height: 78px;
}

.headline_advantages {
    text-transform: uppercase;
}

.headline_filter {
    margin: 0;
}
