.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  margin: 0 auto;

  display: none;
  place-content: center;

  background-color: rgba(242, 242, 242, 0.8);
}

.modal-opened {
  display: grid;
}

.modal-container {
  display: grid;
  grid-template-columns: 1fr min-content;
  row-gap: 54px;
  width: 715px;
  padding: 70px;
  padding-top: 54px;
  margin: 0 auto;
  margin-top: 50px;

  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-close {
  width: 53px;
  height: 53px;
  padding: 0;

  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
}

.modal-close::after {
  content: "";

  display: block;
  width: 53px;
  height: 53px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("/img/modal-close 1.svg");
}

.modal-close:hover,
.modal-close:active {
  background-color: #e6e6e6;
}

.modal-close:active::after {
  opacity: 0.3;
}

.modal-close:focus:not(:active) {
  outline: 3px solid #83b3d3;
  outline-offset: 0;
}

.modal-title {
  align-self: center;
  margin: 0;
}

.modal-content {
  grid-column: 1 / -1;
}

.field {
  display: flex;
}

.field-title-info {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
}

.field-input {
  width: 100%;
  margin: 0;
  padding: 8px 20px;

  background-color: #f2f2f2;
  border: 2px solid transparent;
  border-radius: 4px;

  font-family: inherit;
  font-size: 18px;
}

.field-input:hover {
  background-color: #e6e6e6;
}

.field-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.field-input-error {
  border-color: #ff5757;
}

.field-input[disabled] {
  opacity: 0.3;
  background-color: #d3d3d3;
}

.field-search {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-rows: 50px;
  column-gap: 15px;
  row-gap: 4px;
}

.field-search .field-title {
  align-self: center;

  font-weight: 700;
}

.field-search .field-input {
  font-weight: 700;
}

.field-message {
  grid-column: 2 / -1;

  font-size: 16px;
  margin-bottom: 10px;
}

.field-message-error {
  color: #ff5757;
}

.field-info {
  position: relative;

  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-left: 10px;

  background-color: #83b3d3;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("/img/info.svg");
  border-radius: 50%;
}

.field-info-text {
  position: absolute;
  top: calc(100% + 15px);
  left: calc(50% - 128px);
  z-index: 1;

  display: none;
  width: 256px;
  padding: 15px 20px 23px;

  color: #ffffff;
  background-color: #333333;
  border-radius: 10px;

  font-size: 16px;
  font-weight: 400;
}

.field-info-text::before {
  content: "";
  position: absolute;
  top: -9px;
  left: calc(50% - 10px);

  width: 19px;
  height: 9px;

  background-image: url("/img/triangle.png");
}

.field-info-text::after {
  content: "";
  position: absolute;
  top: -25px;
  right: 0;
  left: 0;

  height: 25px;
}

.field-info:hover .field-info-text {
  display: block;
}

.search-form-amount {
  display: grid;
  grid-template-columns: 288px 230px;
  margin-bottom: 50px;
}

.number {
  position: relative;
  z-index: 0;

  display: grid;
  grid-template-columns: 50px 1fr 50px;
  min-width: 133px;
}

.number-input {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  padding: 0 50px;

  text-align: center;

  appearance: textfield;
}

.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-button {
  position: relative;
  z-index: 1;

  grid-row: 1 / 2;
  display: grid;
  place-content: center;

  background-color: transparent;
  border: none;
}

.number-button::after {
  content: "";
  width: 25px;
  height: 25px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 4px;
  opacity: 0.3;
}

.number-button:hover::after {
  opacity: 1;
}

.number-button:active::after {
  opacity: 0.2;
}

.number-button:focus {
  outline: none;
}

.number-button:focus:not(:active)::after {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
  opacity: 1;
}

.number-button[disabled]::after {
  opacity: 0.1;
}

.number-button-minus {
  grid-column: 1 / 2;
}

.number-button-minus::after {
  background-image: url("/img/minus.svg");
}

.number-button-plus {
  grid-column: -2 / -1;
}

.number-button-plus::after {
  background-image: url("/img/plus.svg");
}
