.newsletter {
    background-image: url("/img/background.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
    height: 411px;
    box-sizing: border-box;
    padding: 93px 0 83px 0;
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto auto;
    gap: 31px;
}

.newsletter_clear {
  background-image: none;
  color: #333333;
}

.newsletter__main-catalog {
    background-image: none;
    color: #000000;
}

.headline_newsletter {
  grid-column: 2/3;
  grid-row: 1/2;
  text-transform: uppercase;
}

.text_newsletter {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-bottom: 23px;
}

.newsletter__form {
  grid-column: 2/3;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: minmax(150px, 600px) 200px;
  align-items: center;
  width: 800px;
}

.newsletter__input {
  grid-column: 1/2;
    width: 600px;
    padding: 17px 22px;
    border: none;
    border-radius: 10px 0 0 10px;
    font-size: 18px;
    line-height: 26px;
    background-color: #F2F2F2;
}

.newsletter__input:hover {
    background-color: #E6E6E6;
    cursor: pointer;
}

.newsletter__input:active,
.newsletter__input:focus {
    outline: 3px solid rgba(131, 179, 211, 1);
    border: none;
}

.newsletter__imput_state-error {
    outline: rgba(255, 87, 87, 1);
    border: none;
}

.newsletter__button {
  grid-column: 2/3;
  border-radius: 0 10px 10px 0;
  padding: 17px 0px;
}
